<mat-toolbar>
  <mat-toolbar>
    <mat-toolbar class='title'>{{ isStory ? 'New Story' : 'New Tweet' }}</mat-toolbar>
    <mat-toolbar slot="end">
      <button mat-button color="dark">
        <mat-icon style='position: absolute' slot="icon-only">attach_file</mat-icon> 
        <input style='opacity: 0' type="file" (change)="loadImageFromDevice($event)" id="file-input" accept="image/png, image/jpeg" /> 
      </button>
      <button mat-button color="dark" (click)="dismiss()">
        <mat-icon slot="icon-only">close</mat-icon>
      </button>
    </mat-toolbar>
  </mat-toolbar>
</mat-toolbar>
  
<mat-card>

  <mat-spinner [diameter]='50' *ngIf='uniLoader.visibility' mode='indeterminate'></mat-spinner>

  <mat-list-item class='text-item'>

    <mat-label position="floating">{{ editMode ? 'Edit' : 'Write' }} your message</mat-label>
    <mat-label id='character-counter' position="floating">0/280</mat-label>
    <mat-form-field *ngIf="editMode; else newMode" ngModel="tweetToEdit.tweet">
      <textarea matInput></textarea>
    </mat-form-field>
    <ng-template #newMode>
      <mat-form-field (ionChange)='countCharacter()' minlength="1" maxlength="280" ngModel="newTweet.tweet"></mat-form-field>
    </ng-template>
  </mat-list-item>
  <div *ngIf='newTweet.image' class='box-image'>
    <img mat-card-image class='fit-parent' src="{{ newTweet.image }}">
  </div>
</mat-card>
  
<mat-toolbar>
  <mat-toolbar>
    <mat-toolbar class='button-tweet'>
      <button mat-button color='primary' fill='solid' [disabled]="isDataInvalid()" (click)="createOrEditTweet()">Confirm</button>
    </mat-toolbar>
  </mat-toolbar>
</mat-toolbar>
  