<div *ngIf='uniLoader.visibility' class="spinnerWrapper">
  <mat-spinner [diameter]='50' *ngIf='uniLoader.visibility' mode='indeterminate'></mat-spinner>
</div>


<mat-card style="width: 45vw; margin: -24px;">
  <mat-card-header style="display: unset!important;">
    <div class="card-header">
      <mat-card-title class='title'>{{ isStory ? 'New Story' : editMode ? "Edit tweet" : 'New Tweet' }}</mat-card-title>
      <div class="card-action-buttons">
        <button mat-button (click)="fileinput.click()" color="dark" class="align-icons">
          <mat-icon>attach_file</mat-icon> 
          <input #fileinput class='image-uploader' type="file" (change)="loadImageFromDevice($event)" id="file-input" accept="image/png, image/jpeg">
        </button>
        <button mat-button color="dark" (click)="dismiss()">
          <mat-icon slot="icon-only">close</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>{{ editMode ? 'Edit' : 'Write' }} your message</mat-label>

      <div *ngIf="editMode; else new">
        <textarea matInput #inputTweet name="tweet" minlength="1" maxlength="280" [(ngModel)]="tweetToEdit.tweet"></textarea>
        <mat-hint>{{inputTweet.value.length || 0}}/280</mat-hint>
      </div>
      
      <ng-template #new>
        <textarea matInput #newInput minlength="1" maxlength="280" name="tweet" [(ngModel)]="newTweet.tweet"></textarea>
        <mat-hint>{{newInput.value.length || 0}}/280</mat-hint>
      </ng-template>
      
    </mat-form-field>

    <div *ngIf='newTweet.image' class='box-image'>
      <img mat-card-image class='fit-parent' src="{{ newTweet.image }}">
    </div>

    <div *ngIf='editMode' class='box-image'>
      <img mat-card-image class='fit-parent' src="{{ tweetToEdit.image }}">
    </div>
  </mat-card-content>

  <mat-card-footer class='button-tweet'>
    <button mat-button color='primary' fill='solid' [disabled]="isDataInvalid()" (click)="createOrEditTweet()">Confirm</button>
  </mat-card-footer>
</mat-card>
  