<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
      <img mat-image-avatar [src]="user.image">
      <mat-list class="center">
        <mat-list-item>
          <a [routerLink]="['/tweets']">Tweets</a>
        </mat-list-item>
        <mat-list-item>
          <a [routerLink]="['/users']">Users</a>
        </mat-list-item>
        <mat-list-item>
          <a [routerLink]="['/profile']">Profile</a>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <button mat-fab color="accent" (click)="sidenav.toggle()">
        <mat-icon>menu_open</mat-icon>
      </button>
    </mat-sidenav-content>
</mat-sidenav-container>
  

