<app-drawer>
    <div *ngIf='uniLoader.visibility' class="spinnerWrapper">
        <mat-spinner [diameter]='50' *ngIf='uniLoader.visibility' mode='indeterminate'></mat-spinner>
    </div>
    <div class="box-content">
        <div class='container'>
            <mat-list-item class='box-item' *ngFor="let user of users">
                <mat-card class="card">
                    <mat-card-header>
                        <mat-card-title>
                            <h3>{{ user.name }} {{ user.surname }}</h3>
                        </mat-card-title>
                        <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
                        <img mat-card-avatar class='user-avatar' [src]="user.image">
                    </mat-card-header>
                </mat-card>
            </mat-list-item>
        </div>
    </div>
</app-drawer>