<app-drawer>           
    <div>
        <button (click)="createStory()">
          <mat-icon size='large' >add</mat-icon> 
        </button>
        <mat-list-item *ngFor="let tweet of tweets"> 
          <mat-list-item lines='none' *ngIf='tweet.isStory'>  
              <mat-card-header (click)='showStory(tweet)'> 
              <img mat-card-image class='story-image' [src]='getUser(tweet._author._id).image'>
              </mat-card-header>
          </mat-list-item>    
        </mat-list-item>
    </div>
    <div class="box-content">
        <mat-spinner [diameter]='50' *ngIf='uniLoader.visibility' mode='indeterminate'></mat-spinner>

        <div class='container'>
            <mat-list-item style='width: 450px' role='list-item' lines='none'  *ngFor="let tweet of tweets" >
                <mat-card style='margin: 8px 0px' *ngIf='!tweet.isStory'>  
                    <mat-card-header>
                        <img mat-card-avatar (click)='showStory(getUser(tweet._author._id))' class='profile-image' [src]='getUser(tweet._author._id).image'>
                    
                        <mat-card-title style='margin: 0 10px;'>
                            <p class="user" [class.me]="canEdit(tweet)">
                            {{ getAuthor(tweet) }} 
                            <mat-icon class='icon-user' *ngIf="canEdit(tweet)" color="danger-tint">sentiment_satisfied_alt</mat-icon> 
                            </p> 
                        </mat-card-title>
                        <mat-card-subtitle>{{ tweet.createdAt | unictDate:1}}</mat-card-subtitle> 
                        <div class='editOrDeletePost'>
                            <mat-toolbar *ngIf='canEdit(tweet)'>
                            <button mat-button (click)="createOrEditTweet(tweet)">
                                <mat-icon color="primary">create</mat-icon>
                            </button>
                            <button mat-button (click)="deleteTweet(tweet)">
                                <mat-icon color="error">cancel</mat-icon>  
                            </button>
                            </mat-toolbar>
                        </div>
                    </mat-card-header>
                        <h2 class='spacewrap'>{{tweet.tweet}}</h2>
                        <div *ngIf='tweet.image' class='box-image'>
                        <img mat-card-image [src]="tweet.image">
                        </div>
                </mat-card> 
            </mat-list-item>
        </div>
        <button mat-fab class='fab-bottom' (click)="createOrEditTweet()"> 
            <mat-icon>add_circle</mat-icon>  
        </button>

    </div>
</app-drawer>