<mat-card style="width: 45vw; margin: -24px;">
  <mat-card-header style="margin-bottom: 20px">
    <mat-card-title class='title'>{{ username }}</mat-card-title>
    <div class="button-container">
      <button mat-button color="error" matDialogClose>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content class='text-item'>
    <h2 *ngIf='isStory'>{{story.tweet}}</h2>
    <div *ngIf='!isStory || (isStory && story.image)' class='box-image'>
      <img mat-card-image *ngIf='isStory; else userProfile' class='fit-parent' [src]="story.image">
      <ng-template #userProfile>
        <img mat-card-image class='fit-parent' [src]="user.image">
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
  